

.page-banner.dark-bg .section_heading,
.page-banner.dark-bg .section_subheading {
  color: white;
}

.contact-form .form-control {
  background-color: #eee;
  border: 0;
  border-radius: 0;
  color: #999;
  font-size: 14px;
  padding: 16px;
  line-height: 1;
}

.contact-form textarea {
  resize: none;
}

.card-img {
  height: calc(100vh - 10px);
  object-fit: cover;
}
.card, .card-img {
  border-radius: 0;
}

.navbar-nav {
  margin-left: 0;
  justify-content: flex-start;
}
.flags-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-left: 100px;
}
