<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: whitesmoke;">
  <div class="container-fluid">

    <img src="./assets/albtechlogo.png" height="30" width="30" style="margin-right: 10px;">



    <a class="navbar-brand" [routerLink]="['/home']">{{"Home" | translate}}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/about-us']">{{"About Us" | translate}}</a>
        <a class="nav-link" [routerLink]="['/contact-us']">{{"Contact Us" | translate}}</a>
      </div>
    </div>
  </div>
  <div class="flags-container">
    <button style="border: none; " (click)="switchLanguage('al')">
      <img src="./assets/albania.png" height="50" width="50" style="margin-right: 10px;">
    </button>
    <button style="border: none; " (click)="switchLanguage('en')">
      <img src="./assets/united-kingdom.png" height="37" width="38" style="margin-right: 10px;">
    </button>
  </div>

</nav>



<div class="card text-bg-dark">
  <img src="./assets/tech.png" class="card-img" >
  <div class="card-img-overlay">
    <h5 class="card-title" style="color: rgb(255, 255, 255);">Alb Tech Soultions</h5>
    <p class="card-text" style="color: white;">{{"We manage your IT, so you can manage your business." | translate}}</p>


    <div class="card mb-3 rounded-circle" style="width: 540px; ">
      <div class="row g-0">
          <div class="col-md-4">
              <img src="./assets/techhome.jpg" class="img-fluid rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{"IT Consulting & Advisory" | translate}}</h5>
                  <p class="card-text">{{"We offer affordable IT solutions that help you reduce costs and improve your bottom line." | translate}}</p>
                  <button>
                      <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">Contact Us</small></p>
                  </button>
              </div>
          </div>
      </div>
  </div>


    <div class="card mb-3" style="max-width: 540px; border-radius: 50%;" id="secondimg" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/techrobote.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{"Web Development" | translate}}</h5>
            <p class="card-text">{{"We create dynamic and user-friendly websites through expert web development, combining innovative design with seamless functionality." | translate}}</p>
            <button> <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">{{"Contact Us" | translate}}</small></p> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px; border-radius: 50%; ;" id="thirdimg"  >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/worldtech.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{"IT Helpdesk Support" | translate}}</h5>
            <p class="card-text">{{"We deliver proficient and responsive IT help desk support services to optimize operations and elevate user satisfaction." | translate}}</p>
            <button> <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">{{"Contact Us" | translate}}</small></p> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


