<!-- text-info -->
<nav class="navbar navbar-expand-lg  " >
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" >Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" [routerLink]="['/about-us']">About Us</a>
      <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
    </div>
  </div>
</div>
</nav>

<div class="card text-bg-dark">
  <img src="./assets/tech.png" class="card-img" >
  <div class="card-img-overlay">
    <h5 class="card-title" style="color: black;">Alb Tech Soultions</h5>
    <p class="card-text">We manage your IT, so you can manage your business.</p>


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/techhome.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">IT Consulting & Advisory</h5>
            <p class="card-text">We offer affordable IT solutions that help you reduce costs and improve your bottom line.</p>
           <button> <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">Contact Us</small></p> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/techrobote.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">We create dynamic and user-friendly websites through expert web development, combining innovative design with seamless functionality.</p>
            <button> <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">Contact Us</small></p> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/worldtech.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">IT Helpdesk Support</h5>
            <p class="card-text">We deliver proficient and responsive IT help desk support services to optimize operations and elevate user satisfaction. </p>
            <button> <p class="card-text"><small class="text-body-secondary" [routerLink]="['/contact-us']">Contact Us</small></p> </button>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>


